In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [4]:
data=pd.read_csv('Churn_Modelling.csv')

In [5]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# Preprocess the data
data=data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [7]:
# Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# One hot encode the 'Geography' column
onehot_encoder_geo=OneHotEncoder()
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
# Combine the encoded geography data with the original data
data=pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
# Split the data into features and target variable
X=data.drop('EstimatedSalary', axis=1)
y=data['EstimatedSalary']

In [12]:
## Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
# Save the scaler and encoders
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem Statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
# Build the model
model=Sequential([
    Dense(64, activation='relu',input_shape=(X_train_scaled.shape[1], )),
    Dense(32, activation='relu'),
    Dense(1)
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

c:\Users\saksh\anaconda3\envs\tf_env\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [17]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard callback
log_dir='regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [19]:
# Set up early stopping
early_stopping_callback=EarlyStopping(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)

In [20]:
## Train the model
history=model.fit(
    X_train_scaled, 
    y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 100890.4844 - mae: 100890.4844 - val_loss: 98489.5781 - val_mae: 98489.5781
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 98266.0469 - mae: 98266.0469 - val_loss: 96726.4688 - val_mae: 96726.4688
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97759.7578 - mae: 97759.7578 - val_loss: 92219.6172 - val_mae: 92219.6172
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 92208.4922 - mae: 92208.4922 - val_loss: 84814.7656 - val_mae: 84814.7656
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 84326.2500 - mae: 84326.2500 - val_loss: 75542.1719 - val_mae: 75542.1719
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 74649.4844 - mae: 74649.4844 - val_loss: 66322.3047 - val_mae: 66322.3047
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 65289.7930 - mae: 65289.7930 - val_loss: 58835.1992 - val_mae: 58835.1992
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 57956.5430 - mae: 57956.5430 - val_loss: 54001.7461 - val_mae: 54001.7461
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53604.2344 - mae: 53604.2344 - val_loss: 51620.3047 - val_mae: 51620.3047
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51590.3867 - mae: 51590.3867 - val_loss: 50823.6445 - val_mae: 50823.6445
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50673.3789 - mae: 50673.3789 - val_loss: 50634.7852 - val_mae: 50634.7852
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50398.2617 - mae: 50398.2617 - val_loss: 50554.3359 - val_mae: 50554.3359
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50211.1016 - mae: 50211.1016 - val_loss: 50514.9102 - val_mae: 50514.9102
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50024.9961 - mae: 50024.9961 - val_loss: 50488.4961 - val_mae: 50488.4961
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49593.2031 - mae: 49593.2031 - val_loss: 50464.0742 - val_mae: 50464.0742
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49901.7070 - mae: 49901.7070 - val_loss: 50437.5039 - val_mae: 50437.5039
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50035.1719 - mae: 50035.1719 - val_loss: 50408.4883 - val_mae: 50408.4883
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49888.2227 - mae: 49888.2227 - val_loss: 50397.1250 - val_mae: 50397.1250
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49653.9727 - mae: 49653.9727 - val_loss: 50377.3398 - val_mae: 50377.3398
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49508.8398 - mae: 49508.8398 - val_loss: 50363.7109 - val_mae: 50363.7109
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49793.6758 - mae: 49793.6758 - val_loss: 50346.0430 - val_mae: 50346.0430
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49815.9609 - mae: 49815.9609 - val_loss: 50330.9531 - val_mae: 50330.9531
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49833.9961 - mae: 49833.9961 - val_loss: 50320.0625 - val_mae: 50320.0625
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49785.2070 - mae: 49785.2070 - val_loss: 50314.5117 - val_mae: 50314.5117
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49271.2734 - mae: 49271.2734 - val_loss: 50311.9844 - val_mae: 50311.9844
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49372.4141 - mae: 49372.4141 - val_loss: 50304.8359 - val_mae: 50304.8359
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49896.1484 - mae: 49896.1484 - val_loss: 50291.7930 - val_mae: 50291.7930
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50145.7266 - mae: 50145.7266 - val_loss: 50285.8398 - val_mae: 50285.8398
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49509.8359 - mae: 49509.8359 - val_loss: 50275.8711 - val_mae: 50275.8711
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48949.3086 - mae: 48949.3086 - val_loss: 50263.8594 - val_mae: 50263.8594
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49778.0898 - mae: 49778.0898 - val_loss: 50273.6523 - val_mae: 50273.6523
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49987.3711 - mae: 49987.3711 - val_loss: 50273.8828 - val_mae: 50273.8828
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49376.3867 - mae: 49376.3867 - val_loss: 50264.8438 - val_mae: 50264.8438
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49314.2188 - mae: 49314.2188 - val_loss: 50259.9219 - val_mae: 50259.9219
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49804.3594 - mae: 49804.3594 - val_loss: 50263.7656 - val_mae: 50263.7656
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49810.9219 - mae: 49810.9219 - val_loss: 50247.5195 - val_mae: 50247.5195
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49189.7539 - mae: 49189.7539 - val_loss: 50261.1484 - val_mae: 50261.1484
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49875.8906 - mae: 49875.8906 - val_loss: 50256.8789 - val_mae: 50256.8789
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49363.1836 - mae: 49363.1836 - val_loss: 50252.4883 - val_mae: 50252.4883
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49585.3594 - mae: 49585.3594 - val_loss: 50252.6680 - val_mae: 50252.6680
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49062.3086 - mae: 49062.3086 - val_loss: 50246.5547 - val_mae: 50246.5547
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49583.5508 - mae: 49583.5508 - val_loss: 50248.3750 - val_mae: 50248.3750
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49255.1953 - mae: 49255.1953 - val_loss: 50253.2070 - val_mae: 50253.2070
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49941.3945 - mae: 49941.3945 - val_loss: 50250.2188 - val_mae: 50250.2188
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49895.4141 - mae: 49895.4141 - val_loss: 50253.2695 - val_mae: 50253.2695
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49405.2852 - mae: 49405.2852 - val_loss: 50254.6992 - val_mae: 50254.6992
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49473.0000 - mae: 49473.0000 - val_loss: 50243.7852 - val_mae: 50243.7852
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49781.4961 - mae: 49781.4961 - val_loss: 50249.3906 - val_mae: 50249.3906
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49312.9766 - mae: 49312.9766 - val_loss: 50258.9023 - val_mae: 50258.9023
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49433.2773 - mae: 49433.2773 - val_loss: 50257.1406 - val_mae: 50257.1406
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49591.1094 - mae: 49591.1094 - val_loss: 50254.0000 - val_mae: 50254.0000
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49448.6406 - mae: 49448.6406 - val_loss: 50257.6484 - val_mae: 50257.6484
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49601.5586 - mae: 49601.5586 - val_loss: 50258.3203 - val_mae: 50258.3203
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49019.3047 - mae: 49019.3047 - val_loss: 50264.7031 - val_mae: 50264.7031
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49248.7930 - mae: 49248.7930 - val_loss: 50265.5547 - val_mae: 50265.5547
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48966.5430 - mae: 48966.5430 - val_loss: 50273.0859 - val_mae: 50273.0859
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49227.2969 - mae: 49227.2969 - val_loss: 50269.0625 - val_mae: 50269.0625

In [21]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [21]:
%load_ext tensorboard

In [23]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 19212), started 0:00:05 ago. (Use '!kill 19212' to kill it.)

In [22]:
# Evaluate the model
loss, mae = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {loss}, Test MAE: {mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51088.6328 - mae: 51088.6328
Test Loss: 50243.78515625, Test MAE: 50243.78515625